<br>
<br>
<br>
<br>
<br>
<br>



</div>

</body>


<footer class="footer_pie">
   
    <div class="div_pie_info">
        
        <ul class="pie_info_conta">

           <marquee id="ver_clima"></marquee>  
           
          <p>Dir.: Asasas 1234 | Tel.: 341 123456 | 2000 Rosario, Santa Fe </p> 
                  
        </ul>

    </div>
    
</footer>

<script src="/javascripts/clima.js"></script>



