<!doctype html>
<html lang="es">
	

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  	<link rel="icon" href="/images/icono/icono.png">     <link href="/stylesheets/style.css" rel="stylesheet">
	
	<title>Libreria ABM</title>
	</head>

<body>

<div class="div-titulo">
	<p class="p-titulo">LIBRERIA ABM</p>
</div>

<nav class="nav-menu">

 <label for="show-menu" class="show-menu"> Menu</label>
<input type="checkbox" id="show-menu" role="button">



		<ul id="menu">
			
		<li><a href="/libros/home"><img class="img-nav" src="/images/icono/home.png"> Home</a></li>
		<li><a href="/libros"><img class="img-nav" src="/images/icono/libros.png"> Listado</a></li>
		<li><a href="/libros/agregar"><img class="img-nav" src="/images/icono/libros.png"> Agregar</a>
		<li><a href="/libros/nosotros"><img class="img-nav" src="/images/icono/nosotros.png"> Nosotros</a></li>
		<li><a href="/libros/contacto"><img class="img-nav" src="/images/icono/contacto.png"> Contacto</a></li>
		<li><a href="/autores/agregar"><img class="img-nav" src="/images/icono/autor.png">Autores</a></li>
		

	</nav>

		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	
</body>
</html>