<%- include("../header"); %>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h1 class="h1-agregarautores"> Agregar autores:</h1>
<div class="div-agregarautores">


<br>
<br>


    <form method="post" action="/autores/insertarAutores">

        <div class="form-group2">
            <label for="nombreAutor">Autor</label>
            <input required id="nombreAutor" placeholder="Nombre del Autor" class="form-control2" type="text"
                name="nombreAutor">
        </div>

        <br>
        <div class="form-group2">
            <label for="codigoPais">Pais</label>
            <input required id="codigoPais" placeholder="codigo pais" class="form-control2" type="text"
                name="codigoPais">
        </div>

        

    


<br>
<br>
        <div class="form-group2">

           <button class="boton-guardar2">Guardar</button>
          


        </div>
    </form>
</div>


<br>
<br>





<br>
<br>
<br>
<br>







<%- include("../footer"); %>

