<%- include("../header"); %>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<p>Contacto!!!!!!!!!!!!!!!!</p>    
   
 
<form name="f-contacto" netlify>
    <label>
        Nombre:
        <input type="text" name="nombre">
    </label>
    <br>

    <label>
        Email:
        <input type="email" name="email">
    </label>
<br>
    <label>
        Comentarios:
        <input type="text" name="Comentarios">
    </label>
    <br>
    
    <input type="submit" value="Enviar">
</form>



<%- include("../footer"); %>