

<%- include("../header"); %>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



<h1 class="h1-home">Libros más leídos:</h1>    

<div class="div_img_home">
      
       

    <div class="home_img_1">
        <img src="/images/portadas/aniquilacion.jpg" alt="">
        <img src="/images/portadas/boulevard.jpg" alt="">
        <img src="/images/portadas/el hechizo del agua.jpg" alt="">
        <img src="/images/portadas/gaturro.jpg" alt="">
        <img src="/images/portadas/heartstopper.jpg" alt="">
        <img src="/images/portadas/los dias de la revolucion.jpg" alt="">
        <img src="/images/portadas/santa evita.jpg" alt="">
        <img src="/images/portadas/ahora.jpg" alt="">
  
        </div>

</div>

<%- include("../footer"); %>