<%- include("../header"); %>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus qui eligendi itaque doloremque non necessitatibus voluptates facilis a ut quo eum corrupti nihil suscipit, dolores quis sed explicabo iusto alias!</p></h1>
    <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint itaque temporibus consectetur reiciendis nesciunt sapiente voluptatem, eum unde ipsa eius similique necessitatibus assumenda ex facere, nostrum, eveniet corporis quisquam tenetur.</h2>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt illo delectus natus eos odio. Quaerat nihil nobis iste velit odio labore officiis. Voluptas, laboriosam? Nulla tenetur iure magnam consequuntur rem.</h3>
 
<%- include("../footer"); %>